:root{
   --main-color: #10cab7;
   --sc-color: #2c4755;
   --secion-padding:60px;
   --sc-bg:#f6f6f6;
}
*{
    font-family: 'poppins' , sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior:smooth;
 
}
/*start header*/
header{
    background-color: #f0f0f0;
    width: 100%;
    position: fixed;
    z-index: 999;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 200px;
   
}
.logo{
    text-decoration: none;
    font-weight: 700;
    color: #3a6cf4;
    text-transform: uppercase;
    font-size: 1.8em;
}
.navigation a{
    text-decoration: none;
    color: #3a6cf4;
    padding-left: 30px;
   
    font-size: 1.1em;
    font-weight: 500;
    transition: .7s;
}
.navigation a:hover{
    color: #601cfc;
    background-color: #fff;
}
/*end header*/
/*start main section*/
section{
    padding: 100px 200px;
}
.main{
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    background-image: url(abdooo0o.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top ;
    background-attachment: fixed;
}
.main h2{
   color: #fff;
   font-size: 1.4em;
   font-weight: 500;
   
}
.main h2 span{
    color: #4e9eff;
    font-size:3em;
    font-weight: 600;
}
.main h3{
    color: #fff;
    font-size: 2em;
    font-weight: 700;
    letter-spacing: 1px;
    margin-top: 10px;
    margin-bottom: 30px;
}
.main-btn{
    color: #fff;
    background-color: #3a6cf4;
    text-decoration: none;
    font-size:1.1em;
    font-weight: 600;
    display: inline-block;
    padding: .9375em;
    border-radius: 20px ;
    letter-spacing: 1px;
    margin-bottom: 40px;
    transition: .7s ease;
}
.main-btn:hover{
    background-color: #0a49f6;
    transform: scale(1.2);
}
.social-icons a{
    color: #fff;
    font-size: 1.7em;
    padding-right: 30px;
    
}
.social-icons :hover{
    color: #eee;
    transform: scale(1.2);
}
/*end main section*/
/*start services*/
.title{
   display: flex;
   justify-content: center;
   color: #3a6cf4;
   font-weight: 800;
   margin-bottom: 30px;
   
}
.content{
   display: flex;
   justify-content: center;
   flex-direction: row;
   flex-wrap: wrap;
}
.card{
   background-color: #fff;
   width: 12.8em;
   box-shadow: 0 2px 25px rgba(1 1 1 / 25%);
   border-radius: 15px;
   padding: 25px;
   margin: 15px;
   transition: .7s ease;
}
.card:hover{
   transform: scale(1.1);
}
.icon{
   color: #3a6cf4;
   font-size: 8em;
   text-align: center;
}
.info{
   text-align: center;
}
.info h3{
   color: #3a6cf4;
   font-size: 1.2em;
   font-weight: 700;
   margin: 10px;
}
/*end services*/
/*start projects*/
.projects{
   background-color: #000016;
  
 

  
}
.projects .content{
   margin-top: 30px; 
}
.project-card{
   background-color: #fff;
   border: 2px solid #fff;
   min-height: 14em;
   width: 23em;
   overflow: hidden;
   border-radius: 10px;
   margin: 20px;
   transition: 0.7s ease;
   
}
.project-card:hover{
   transform: scale(1.1);
}
.project-card:hover .project-iamge{
   opacity: 0.9;
}
.project-iamge img{
   width: 100%;
}
.project-info{
   padding: 1em;
}
.project-category{
   font-size: 0.8em;
   color: #000;
}
.project-title{
   display: flex;
   justify-content: space-between;
   text-transform: uppercase;
   margin-top: 10px;
   font-weight: 800;
}
.more-details{
   text-decoration: none;
   color: #3a6cf4;
}
.more-details:hover{
   color: #601cfc;
}
/*end projects*/
/*start content*/

.card-contact .icon{
   font-size: 4em;
}
.card-contact .info h3{
   color: #000;
}
.card-contact .info .ema{
   font-size: 1em;
  /* overflow: auto;*/
   word-break: break-all;
}
/*end content*/
/*footer*/
.footer{
  background-color: #000016;
  color: #eee;
  padding: 30px 10px ;
  margin: 30px 30px ;
  text-align: center;
  font-size: 18px;
  border-radius: 10px;
  box-shadow: 0 2px 25px rgba(1 1 1 / 25%);
}
.footer span{
  font-weight: bold;
  color: var(--main-color);
}
/* end footer*/
@media (max-width:1023px){
    header{
        padding: 12px 20px;
    }

    .navigation a{
        padding-left: 10px;
    }

    .title{
        font-size: 1.8em;
    }

    section{
        padding: 80px 20px;
    }

    .main-content h2{
        font-size: 1em;
    }

    .main-content h3{
        font-size: 1.6em;
    }

    .content{
        flex-direction: column;
        align-items: center;
    }

}

@media (max-width:641px){
    body{
        font-size: 12px;
    }

    .main-content h2{
        font-size: 0.8em;
    }

    .main-content h3{
        font-size: 1.4em;
    }
}

@media (max-width:300px){
    body{
        font-size: 10px;
     
    }
}